In [8]:
import pandas as pd

spotify_df = pd.read_csv('Spotify_final_dataset.csv')
display(spotify_df.head(10))

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961
5,6,Travis Scott,goosebumps,1995,4.0,8,0,977275,672972704
6,7,The Weeknd,Blinding Lights,1100,233.0,1,(x11),2355059,644287953
7,8,XXXTENTACION,Jocelyn Flores,1673,44.0,2,(x1),3175206,624457164
8,9,XXXTENTACION,SAD!,1217,133.0,1,(x6),4437612,619879245
9,10,Juice WRLD,All Girls Are The Same,1681,2.0,5,0,1239152,613872384

In [9]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11084 entries, 0 to 11083
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Position                11084 non-null  int64
 1   Artist Name             11084 non-null  object
 2   Song Name               11080 non-null  object
 3   Days                    11084 non-null  int64
 4   Top 10 (xTimes)         11084 non-null  float64
 5   Peak Position           11084 non-null  int64
 6   Peak Position (xTimes)  11084 non-null  object
 7   Peak Streams            11084 non-null  int64
 8   Total Streams           11084 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 779.5+ KB

In [10]:
spotify_df.shape

(11084, 9)

In [11]:
spotify_df.isnull().sum()

Position                  0
Artist Name               0
Song Name                 4
Days                      0
Top 10 (xTimes)           0
Peak Position             0
Peak Position (xTimes)    0
Peak Streams              0
Total Streams             0
dtype: int64

In [12]:
percentual_nulos = spotify_df.isnull().sum() / spotify_df.shape[0] * 100
display(percentual_nulos)

Position                  0.000000
Artist Name               0.000000
Song Name                 0.036088
Days                      0.000000
Top 10 (xTimes)           0.000000
Peak Position             0.000000
Peak Position (xTimes)    0.000000
Peak Streams              0.000000
Total Streams             0.000000
dtype: float64

In [16]:
# ou voce pode fazer
(100 - spotify_df.count() / spotify_df.shape[0] * 100) * 100

Position                  0.000000
Artist Name               0.000000
Song Name                 3.608805
Days                      0.000000
Top 10 (xTimes)           0.000000
Peak Position             0.000000
Peak Position (xTimes)    0.000000
Peak Streams              0.000000
Total Streams             0.000000
dtype: float64

Só há 3.6 % de dados nulos.

In [21]:
spotify_df['Song Name'].fillna('Unavailable Song Name', inplace=True)

In [22]:
spotify_df.isnull().sum().sum()

0

In [ ]:
# substituindo dados nulos por uma categoria
spotify_df['Song Name'].fillna('Song Unavailable', inplace=True)

display(spotify_df['Song Name'])

0        Sunflower  SpiderMan: Into the SpiderVerse
1                                      Lucid Dreams
2                                     XO TOUR Llif3
3                                    No Role Modelz
4                                          rockstar
                            ...
11079                                If I Die Young
11080                               Not a Bad Thing
11081                                        It  23
11082                               Somebody To You
11083                                 Z  Holy Grail
Name: Song Name, Length: 11084, dtype: object

In [ ]:
spotify_df.isnull().sum()

Position                  0
Artist Name               0
Song Name                 0
Days                      0
Top 10 (xTimes)           0
Peak Position             0
Peak Position (xTimes)    0
Peak Streams              0
Total Streams             0
dtype: int64